<div id="main">
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="javascript:void(0);">Dashboard</a></li>
                        <li><a href="javascript:void(0);">Userlist</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <b>
                <div class="content mt-3">
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong class="card-title">Users of Photo Gallery</strong>
                                        <input type="button" class="btn-danger ml-1 clear-search float-right"
                                            value="Clear" />
                                        <input type="button" class="btn-primary ml-1 search-user float-right"
                                            value="Search" />
                                        <input type="text" class="search float-right" placeholder="Search user by name"
                                            value="{{searchValue}}" />
                                    </div>
                                    <div class="card-body">
                                        <table id="bootstrap-data-table-export"
                                            class="table table-striped table-bordered">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sort" value="fullName" data-flag="ASC" id="fullName">
                                                        Name<i class="fa fa-sort float-right"></i></th>
                                                    <th>E-mail</th>
                                                    <th class="sort" value="availableCoins" data-flag="ASC"
                                                        id="availableCoins">Available
                                                        Coins<i class="fa fa-sort float-right"></i>
                                                    </th>
                                                    <th>Referred other users</th>
                                                </tr>
                                            </thead>
                                            <tbody class="user-table">
                                                {{#if users}}
                                                {{#each users}}
                                                <tr>
                                                    <td>{{fullName}}</td>
                                                    <td>{{email}}</td>
                                                    <td>{{availableCoins}}</td>
                                                    <td>{{referralUsers}}</td>
                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>
                                                    <td colspan="4" class="text-center">No Users Available</td>
                                                </tr>
                                                {{/if}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .animated -->
                </div><!-- .content -->
            </b>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#each page}}
            <li class="page-item"><a
                    class="page-link user-wise {{#compare ../currentPage '==' this}}bg-light{{/compare}}" href="
                    javascript:void(0);" data-page={{this}}>{{this}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <script src="/javascripts/admin/userList.js"></script>
</div>