<div id="withdraw-request-page">
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/withdraw/admin/request">Withdraw</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-md">
        <div class="card-body">
            <b>
                <div class="content mt-3">
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <strong class="card-title">Withdrawal Requests</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <table border="0">
                                        <tr>
                                            <th>
                                                <div class="nav-item dropdown card-body float-left">
                                                    <label for="filtering">Filter Requests By
                                                        Date:</label>
                                                    <input type="datetime-local" class="start-date-request" value={{#if
                                                        search.from}}{{search.from}}{{else}}"{{startDate}}"{{/if}} />
                                                    <input type="datetime-local" class="end-date-request" value={{#if
                                                        search.to}}{{search.to}}{{else}}"{{endDate}}"{{/if}} />
                                                </div>
                                            </th>
                                            <th>
                                                <div class="nav-item dropdown card-body">
                                                    <label for="filtering">Filter Requests By Type:</label>
                                                    <select class="filter-request">
                                                        <option value="pending" {{#compare
                                                            search.filterType '==' 'pending' }} selected {{/compare}}>
                                                            Pending</option>
                                                        <option value="approved" {{#compare
                                                            search.filterType '==' 'approved' }} selected {{/compare}}>
                                                            Approved</option>
                                                        <option value="rejected" {{#compare
                                                            search.filterType '==' 'rejected' }} selected {{/compare}}>
                                                            Rejected</option>
                                                        <option value="" {{#compare search.filterType '==' 'all' }}
                                                            selected {{/compare}}>All</option>
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="nav-item dropdown card-body">
                                                    <label for="filtering">Filter Requests By User:</label>
                                                    <select class="filter-user" id="userId">
                                                        <option value="" {{#compare ../search.filterUser '==' 'all'
                                                            }}selected{{/compare}}>All</option>
                                                        {{#each users}}
                                                        <option value="{{_id}}" {{#compare ../search.filterUser '=='
                                                            _id}}selected{{/compare}}>
                                                            {{fullName}}
                                                        </option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="nav-item dropdown card-body float-right">
                                                    <input type="button" class="btn-primary search-request"
                                                        value="Search" />
                                                    <input type="button" class="btn-danger clear-request"
                                                        value="Clear" />
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                    <div class="card-body mt-0">
                                        <table id="bootstrap-data-table-export"
                                            class="table table-striped table-bordered">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sort-request" value="userId" data-flag="ASC" id="sort-userId">
                                                        Requested By<i class="fa fa-sort float-right"></i></th>
                                                    <th class="sort-request createdOn" value="createdOn" data-flag="ASC"
                                                        id="sort-createdOn">
                                                        Requested On<i class="fa fa-sort float-right"></i></th>
                                                    <th class="sort-request amount" value="amount" data-flag="ASC"
                                                        id="sort-amount">
                                                        Requested Amount<i class="fa fa-sort float-right"></i>
                                                    </th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="image-table">
                                                {{#if requests}}
                                                {{#each requests}}
                                                <tr>
                                                    <td>{{requestedBy.fullName}}</td>
                                                    <td>{{dateConvert createdOn}}</td>
                                                    <td>{{amount}}</td>
                                                    <td id="{{_id}}">
                                                        {{#compare status '==' 'approved'}}
                                                        <button type="button" class="btn btn-primary">Approved</button>
                                                        {{/compare}}
                                                        {{#compare status '==' 'rejected'}}
                                                        <button type="button" class="btn btn-danger">Rejected</button>
                                                        {{/compare}}
                                                        {{#compare status '==' 'pending'}}
                                                        <button type="button" class="btn btn-secondary">Pending</button>
                                                        {{/compare}}
                                                    </td>
                                                    <td class="{{_id}}">
                                                        {{#compare status "==" 'pending'}}
                                                        <button type="button" class="btn btn-success approve"
                                                            id="{{_id}}" data-amount="{{amount}}" data-status="approved"
                                                            data-user-id="{{userId}}">Approve</button>
                                                        <button type="button" class="btn btn-danger reject" id="{{_id}}"
                                                            data-user-id="{{userId}}" data-amount="{{amount}}"
                                                            data-status="rejected">Reject</button>
                                                        {{/compare}}
                                                    </td>
                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>
                                                    <td class="text-center" colspan="5">No Request Found</td>
                                                </tr>
                                                {{/if}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </b>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#each page}}
            <li class="page-item"><a
                    class="page-link request-wise {{#compare ../currentPage '==' this}}bg-dark{{/compare}}"
                    href="javascript:void(0);" data-page={{this}}>{{this}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
</div>
<script src="/javascripts/admin/withdraw.js"></script>